{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main>
    <nuv class="nuv">
        <button class="nuv__button" id="back">
            <img src="/svg/nuv__back.svg">
        </button>
        <button class="nuv__button" id="forward">
            <img src="/svg/nuv__forward.svg">
        </button>
        <button class="nuv__button" id="reload">
            <img src="/svg/nuv__reload.svg">
        </button>
        <button class="nuv__button" id="home">
            <img src="/svg/nuv__home.svg">
        </button>

        <input type="text" class="nuv__input" id="input" />

        <button class="nuv__button" id="go">
            <img src="/svg/nuv__go.svg">
        </button>
    </nuv>
</main>

{{!
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}